/* :root {
  --brand-main-color: #FF0;
  --color-1: #FF0;
  --color-2: #deef00;
  --color-3: #f7a500;
  --color-4: #f77b00;
  --color-5: #e73100;
  --color-6: #00F;
} */

:root {
  --brand-main-color: #FF0;
  --color-1: #FF0;
  --color-2: #a0a0a0;
  --color-3: #818181;
  --color-4: #4c4c4c;
  --color-5: #363636;
  --color-6: rgb(23, 23, 23);
}

/* setting the background color for every <section> to it's color variable */
main section {
  background-color: var(--sectionColor);
}

/* setting color variable per section */
#home     {color: #000; --sectionColor: var(--color-1);  background-blend-mode: darken;background-attachment: fixed;background-size: cover;background-position: center;justify-content: space-around;padding: 0;}
#services {color: #000; --sectionColor: var(--color-2); }
#about    {color: #000; --sectionColor: var(--color-3); }
#projects {color: #fffb; --sectionColor: var(--color-4); }
#contact  {color: #fffb; --sectionColor: var(--color-5); }
#footer   {color: #fffb; --sectionColor: var(--color-6); }

#projects a,
#contact a,
#footer a { color: white;}

::selection {
  color: var(--sectionColor);
  background: black;
}