html {
  height: 100%;
}

body {
  background: #000;
  font-family: monospace;
  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;
  font-size: 150%; 
  display: flex;

}

fieldset {
  
  border: 1px solid #FF0;
  color: #FF0;
  max-width: 380px;
  margin: 0 5px 100px 5px;
  box-shadow: 10px 10px 20px #330
}

legend {
  margin: 0 auto
}

legend img {
  max-width: 100%;
}

a {
  background: #FF0;
  color: black;
  padding: 1px;
}

body.banner {
  align-content: center;
  align-items: center;
  justify-content: center;
}

body.landing {
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

body.landing main {
  background: white;
  margin: 0 30px 30px;
  border-radius: 20px;
  flex: 1;

}
