<header>
  <button class="toggle-menu">
    <img src="/img/icons/menu.svg" alt="">
  </button>
  <img src="/img/bad-gateway.png" style="display: none;" alt="Bad Gateway logo" />
  <nav class="flex-row">
    <ul class="main menu">
      <li><a href="/#home"><img alt="Bad Gateway mini logo" title="Bad Gateway" src="/img/icon.png" height="32px" /></a></li>

      <li><a href="/#services">Services</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/#contact">Contact</a></li>
      <li><a href="/article">Articles</a></li>
    </ul>
    <ul class="util menu">
    <!-- <li><a href="#">EN</a></li> -->
    <li><a href="https://merch.badgateway.net" target="blank">Merch</a></li>
    </ul>
  </nav>
</header>
