<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
    <link href="css/colors.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/animation.css" rel="stylesheet" type="text/css" />

    <link href="img/icon.png" rel="icon apple-touch-icon" sizes="128x128" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  </head>

  <body class="one-pager">
    {% include nav.html %}
    {{content}}
  </body>
</html>
