<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <link href="/animation.css" rel="stylesheet" type="text/css" />

    <link href="/img/icon.png" rel="icon apple-touch-icon" sizes="128x128" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  </head>

  <body class="one-pager">
    {% include nav.html %}
    {{content}}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JSBKK4RSYN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JSBKK4RSYN');
    </script>

    <script>
      let lastKnownScrollPosition = 0;
      let ticking = false;

      const header = document.querySelector('header');
      const menubtn = document.querySelector('button.toggle-menu');

      const menuLinks = document.querySelectorAll('nav a');

      function resizeHeader(scrollPos) {
        if(scrollPos > 200) {
          header.classList.add('scrolled');
        } else {
          header.classList.remove('scrolled');
        }
      }

      document.addEventListener('scroll', function(e) {
        lastKnownScrollPosition = (document.scrollingElement).scrollTop;

        if (!ticking) {
          window.requestAnimationFrame(function() {
            resizeHeader(lastKnownScrollPosition);
            ticking = false;
          });

          ticking = true;
        }
      });

      window.addEventListener('load', function(){
        document.body.removeAttribute('unresolved')
      });

      menubtn.addEventListener('click', function() {
        header.classList.toggle('show-menu');
      });

      for (const link of menuLinks) {
        link.addEventListener('click', function() {
          header.classList.remove('show-menu');
        })
      }

    </script>
  </body>
</html>
