// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid fade-out($black, 0.9);
    image-rendering: pixelated;
    filter: sepia(0.8) saturate(.5);
    transition: all .12s, border .35s
  }
  &:focus-within,
  &:hover {
    img {
      filter: saturate(1.2);
      border-color: fade-out($primary, .5); 
    }
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
